@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
    padding-top: 60px;
  }

  section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  
  .center h1 {
    margin-bottom: 10px;
  }
  /* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  
  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
    color: #0a1766;
}
  
  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
  }

  h3 {
    font-size: 2em;
    letter-spacing: -2px;
    text-align: center;
    color: #0a1766;
}
  
  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }
  /* header */

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #800080;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
  }
  
  #logo:hover {
    color: #dd5cdd;
    text-decoration: none;
  }
  /* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
  }
  
  footer a {
    color: #555;
  }
  
  footer a:hover {
    color: #222;
  }
  
  footer small {
    float: left;
  }
  
  footer ul {
    float: right;
    list-style: none;
  }
  
  footer ul li {
    float: left;
    margin-left: 15px;
  }
/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

  /* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 10px;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 2px solid rgb(87, 71, 228);
  }
}

/* publications*/

.publications {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
    font-size: 120%; /* Размер шрифта в процентах */ 
    font-family: serif; /* Шрифт с засечками */ 
  }
  .content {
    display: block;
    margin-left: 60px;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 100%; 
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}
/* sidebar */

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}
/* regina */
.profile { 
    font-size: 100%; /* Размер шрифта в процентах */ 
    font-family: serif; /* Шрифт с засечками */ 
    position: relative; /* Относительное позиционирование */ 
   }
   .profile_name { 
    font-size: 200%; /* Размер шрифта в процентах */ 
    font-family: serif; /* Шрифт с засечками */ 
    position: relative;/* Относительное позиционирование */ 
    color: rgb(14, 8, 109); 
   }

   .commenting {
    text-align: left;
    width: 200px;
    height: 100 px;
    display: inline-block;
  }
  
  .corntent {
    width: 100px; height: 100px; /* Размеры */
    background: rgb(92, 136, 185); /* Цвет фона */
    border: 3px solid #212bb1; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */
    
   }
   .corntent:hover {
    outline: 2px solid #000; /* Чёрная рамка */
   }
  
   .exampleTitle {
    border: 1px solid black; /* Параметры рамки */
    border-bottom: none; /* Убираем линию снизу */
    padding: 3px; /* Поля вокруг текста */
    display: inline; /* Отображать как встроенный элемент */
    background: #efecdf; /* Цвет фона */
    font-weight: bold; /* Жирное начертание */
    font-size: 100%; /* Размер шрифта */
    margin: 0; /* Убираем отступы */
    white-space: pre; 
   }
   .example {
    border: 1px dashed #634f36; /* Параметры рамки */
    background: #fffff5; /* Цвет фона */
    padding: 2px; /* Поля вокруг текста */
    margin: 0 0 1em; /* Отступы */
    white-space: nowrap; 
   } 
   .post {
    display: block;
    margin-left: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 100%; 
    img {
      display: block;
      padding: 5px 0;
    }
   } 

   .likes {
    color: maroon; /* Цвет текста */
    font-weight: 600; /* Жирное начертание */
     }

    .like {
      color: maroon; /* Цвет текста */
      margin-left: 50px;
      }